.about{
    padding: 13rem 0 0 0;
    text-align: center;
    &__title{
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    &__image{
        margin: 5rem 0;
        position: relative;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
        figcaption{
            position: absolute;
            writing-mode: vertical-rl;
            top: 0;
            bottom: 0;
            left: -1.75rem;
            text-transform: uppercase;
            transform: rotate(180deg);
        }
    }
    &__read-more-btn{
        margin-top: 2rem;
        cursor: pointer;
        border: none;
        background: transparent;
        text-transform: uppercase;
    }
}