.esther{
    padding: 13rem 0 0 0;
    text-align: center;
    &__title{
        font-size: 8rem;
        margin: 0;
    }
    .row{
        margin: 0 0 3rem 0;
    }
    &__image{
        position: relative;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
        figcaption{
            position: absolute;
            writing-mode: vertical-rl;
            top: 0;
            bottom: 0;
            left: -1.75rem;
            text-transform: uppercase;
            transform: rotate(180deg);
        }
    }
    &__tapestry{
        &__title{
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            margin: 0 0 3rem 0;
        }
        &__container{
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #c3c3c3;
        }
        &__card{
            flex: 0 0 50%;
            padding-bottom: 35%;
            border-bottom: 1px solid #c3c3c3;
            &:nth-child(odd){
                border-right: 1px solid #c3c3c3;
            }
        }
    }
}