.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 3.2rem 0 3.2rem;
    text-transform: uppercase;
    z-index: 100;
    &__nav{
        > ul{
            display: flex;
            li{
                margin-right: 1rem;
            }
        }
    }
    &__sub-menu{
        //display: none;
    }
    &__logo{
        text-align: center;
        img{
            height: 5rem;
            width: auto;
            display: block;
        }
    }
    &__social{
        ul{
            display: flex;
            li{
                margin-left: 1rem;
            }
        }
    }
}