*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: "tiempos";
    src: url("./fonts/tiempos-text-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "tiempos";
    src: url("./fonts/tiempos-text-regular-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

:root{
    --gutter: 3.2rem;
    --white: #FFFFFF;
    --black: #000000;
    font-size: clamp(.9rem, 1.05vw, 1.2rem);
    line-height: 1.3;
    @media (max-width: 768px) {
        --gutter: 2.8rem;
    }
    @media (max-width: 576px) {
        --gutter: 1.5rem;
    }
}


body{
    font-family: "tiempos";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

a{
    color: inherit;
    text-decoration: none;
}

.small-text{
    font-size: .8rem;
}

.big-text{
    font-size: 1.7rem;
    @media (max-width: 576px) {
        font-size: 1.25rem;
    }
}