.container{
    width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin-right: auto;
    margin-left: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
}


.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}
  
.col {
    flex: 1 0 0%;
}

.col-auto {
flex: 0 0 auto;
width: auto;
}

.col-1 {
flex: 0 0 auto;
width: 8.3333333333%;
}

.col-2 {
flex: 0 0 auto;
width: 16.6666666667%;
}

.col-3 {
flex: 0 0 auto;
width: 25%;
}

.col-4 {
flex: 0 0 auto;
width: 33.3333333333%;
}

.col-5 {
flex: 0 0 auto;
width: 41.6666666667%;
}

.col-6 {
flex: 0 0 auto;
width: 50%;
}

.col-7 {
flex: 0 0 auto;
width: 58.3333333333%;
}

.col-8 {
flex: 0 0 auto;
width: 66.6666666667%;
}

.col-9 {
flex: 0 0 auto;
width: 75%;
}

.col-10 {
flex: 0 0 auto;
width: 83.3333333333%;
}

.col-11 {
flex: 0 0 auto;
width: 91.6666666667%;
}

.col-12 {
flex: 0 0 auto;
width: 100%;
}
  

.justify-content-start {
    justify-content: flex-start !important;
  }
  
  .justify-content-end {
    justify-content: flex-end !important;
  }
  
  .justify-content-center {
    justify-content: center !important;
  }
  
  .justify-content-between {
    justify-content: space-between !important;
  }
  
  .justify-content-around {
    justify-content: space-around !important;
  }
  
  .justify-content-evenly {
    justify-content: space-evenly !important;
  }
  